*.egg
*.egg-info/
*.local.conf
*.py[cod]
*.so
*nosetests.xml
.Python
.cache
.coverage
.coverage.*
.dir-locals.el
.docker_env
.eggs/
.env
.idea
.installed.cfg
.ropeproject/
.tox/
cache
coverage.xml
develop-eggs/
env/
htmlcov/
nosetests.xml
pip-delete-this-directory.txt
pip-log.txt
venv/
helm2